In [2]:
import os
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
dir_path='./data/'
f_app = os.path.join(dir_path, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train=pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

In [3]:
?pd.read_csv

In [4]:
app_train.head(4)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
app_train.size

37516342

In [10]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [20]:
sector=app_train.groupby('NAME_CONTRACT_TYPE')
type(sector)
sector.size()

NAME_CONTRACT_TYPE
Cash loans         278232
Revolving loans     29279
dtype: int64

In [22]:
sector.get_group('Cash loans').head(5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0

In [23]:
sector.groups

{'Cash loans': Int64Index([     0,      1,      3,      4,      5,      6,      7,      8,
                 10,     11,
             ...
             307501, 307502, 307503, 307504, 307505, 307506, 307507, 307508,
             307509, 307510],
            dtype='int64', length=278232),
 'Revolving loans': Int64Index([     2,      9,     17,     18,     20,     29,     39,     45,
                 50,     57,
             ...
             307384, 307385, 307402, 307419, 307425, 307444, 307457, 307467,
             307485, 307496],
            dtype='int64', length=29279)}

In [25]:
sector.sum()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
NAME_CONTRACT_TYPE,,,,,,,,,,,,,,,,,,,,,
Cash loans,77383375814,23221,114082,4.704055e+10,1.747202e+11,7.858119e+09,1.559667e+11,5772.636287,-4496022132,18449686904,...,2323,177,156,1,1540.0,1731.0,8524.0,65462.0,65331.0,465497.0
Revolving loans,8160193634,1604,14166,4.866668e+09,9.486922e+09,4.777402e+08,9.446332e+09,644.537720,-435530258,1174141677,...,177,6,0,102,163.0,131.0,616.0,5663.0,5283.0,39881.0

In [26]:
app_train.index

RangeIndex(start=0, stop=307511, step=1)

In [32]:
filter1=(app_train['CODE_GENDER']=='F')
filter2=(app_train['FLAG_OWN_REALTY']=='Y')
app_train[filter1 & filter2].tail()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307504,456248,0,Cash loans,F,N,Y,0,153000.0,331920.0,16096.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307505,456249,0,Cash loans,F,N,Y,0,112500.0,225000.0,22050.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
app_train.info

<bound method DataFrame.info of         SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
13          100017       0         Cash loans           M            Y
14          100018       0         Cash loans           F            N
15          100019       0         Cash loans           M            Y
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
24          100029       0         Cash loans           M            Y
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
28          100033       0         Cash loans           M            Y
29          100034       0    Revolving loans           M            N
...            ...     ...                ...         ...          ...
307481      456225       1         Cash loans           M            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307485      456229       0    Revolving loans           F            N
307486      456230       0         Cash loans           F            Y
307487      456231       0         Cash loans           M            N
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307490      456234       0         Cash loans           M            N
307491      456235       0         Cash loans           M            Y
307492      456236       0         Cash loans           M            Y
307493      456237       0         Cash loans           F            N
307494      456238       0         Cash loans           M            Y
307495      456239       0         Cash loans           M            Y
307496      456240       0    Revolving loans           F            N
307497      456241       0         Cash loans           F            Y
307498      456242       0         Cash loans           M            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0        202500.000    406597.5
1                    N             0        270000.000   1293502.5
2                    Y             0         67500.000    135000.0
3                    Y             0        135000.000    312682.5
4                    Y             0        121500.000    513000.0
5                    Y             0         99000.000    490495.5
6                    Y             1        171000.000   1560726.0
7                    Y             0        360000.000   1530000.0
8                    Y             0        112500.000   1019610.0
9                    Y             0        135000.000    405000.0
10                   Y             1        112500.000    652500.0
11                   Y             0         38419.155    148365.0
12                   Y             0         67500.000     80865.0
13                   N             1        225000.000    918468.0
14                   Y             0        189000.000    773680.5
15                   Y             0        157500.000    299772.0
16                   N             0        108000.000    509602.5
17                   Y             1         81000.000    270000.0
18                   Y             0        112500.000    157500.0
19                   Y             1         90000.000    544491.0
20                   Y             0        135000.000    427500.0
21                   Y             1        202500.000   1132573.5
22                   N             1        450000.000    497520.0
23                   Y             0         83250.000    239850.0
24                   N             2        135000.000    247500.0
25                   Y             0         90000.000    225000.0
26                   Y             0        112500.000    979992.0
27                   Y             1        112500.000    327024.0
28                   Y             0        270000.000    790830.0
29                   Y             0         90000.000    180000.0
...                ...           ...               ...         ...
307481               Y             0        225000.000    297000.0
307482               Y             0        225000.000    500566.5
307483               Y             0         99000.000    247275.0
307484               N             0        540000.000    545040.0
307485               Y             1        270000.000    180000.0
307486               Y             1        292500.000    355536.0
307487               Y             0        117000.000   1071909.0
307488               N             0        157500.000    135000.0
307489               Y             0        225000.000    521280.0
307490               Y             0         81000.000    135000.0
307491               Y             2         90000.000   1078200.0
307492               Y             0        585000.000   1575000.0
307493               Y             0        135000.000    946764.0
307494               N             1        270000.000    479700.0
307495               N             0        180000.000    808650.0
307496               N             0        360000.000    337500.0
307497               Y             0        180000.000    270126.0
307498               Y             0        198000.000   1312110.0
307499               Y             0         81000.000    225000.0
307500               Y             0        261000.000   1303812.0
307501               Y             3         81000.000    269550.0
307502               Y             1         94500.000    225000.0
307503               Y             0        112500.000    345510.0
307504               Y             0        153000.000    331920.0
307505               Y             0        112500.000    225000.0
307506               N             0        157500.000    254700.0
307507               Y             0         72000.000    269550.0
307508               Y             0        153000.000    677664.0
307509               Y             0        171000.000    370107.0
307510               N             0        157500.000    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
1           35698.5  ...                 0                0                0
2            6750.0  ...                 0                0                0
3           29686.5  ...                 0                0                0
4           21865.5  ...                 0                0                0
5           27517.5  ...                 0                0                0
6           41301.0  ...                 0                0                0
7           42075.0  ...                 0                0                0
8           33826.5  ...                 0                0                0
9           20250.0  ...                 0                0                0
10          21177.0  ...                 0                0                0
11          10678.5  ...                 0                0                0
12           5881.5  ...                 0                0                0
13          28966.5  ...                 0                0                0
14          32778.0  ...                 0                0                0
15          20160.0  ...                 0                0                0
16          26149.5  ...                 0                0                0
17          13500.0  ...                 0                0                0
18           7875.0  ...                 0                0                0
19          17563.5  ...                 0                0                0
20          21375.0  ...                 0                0                0
21          37561.5  ...                 0                0                0
22          32521.5  ...                 0                0                0
23          23850.0  ...                 0                0                0
24          12703.5  ...                 0                0                0
25          11074.5  ...                 0                0                0
26          27076.5  ...                 0                0                0
27          23827.5  ...                 0                0                0
28          57676.5  ...                 0                0                0
29           9000.0  ...                 0                0                0
...             ...  ...               ...              ...              ...
307481      19975.5  ...                 0                0                0
307482      34969.5  ...                 0                0                0
307483      16479.0  ...                 0                0                0
307484      35617.5  ...                 0                0                0
307485       9000.0  ...                 0                0                0
307486      18283.5  ...                 0                0                0
307487      31473.0  ...                 0                0                0
307488      13351.5  ...                 0                0                0
307489      23089.5  ...                 0                0                0
307490       9148.5  ...                 0                0                0
307491      31522.5  ...                 0                0                0
307492      43443.0  ...                 0                0                0
307493      37678.5  ...                 0                0                0
307494      46858.5  ...                 0                0                0
307495      23773.5  ...                 0                0                0
307496      16875.0  ...                 0                0                0
307497      12028.5  ...                 0                0                0
307498      52168.5  ...                 0                0                0
307499      12694.5  ...                 0                0                0
307500      35982.0  ...                 0                0                0
307501      11871.0  ...                 0                0                0
307502      10620.0  ...                 0                0                0
307503      17770.5  ...                 0                0                0
307504      16096.5  ...                 0                0                0
307505      22050.0  ...                 0                0                0
307506      27558.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
1                     0                        0.0                       0.0
2                     0                        0.0                       0.0
3                     0                        NaN                       NaN
4                     0                        0.0                       0.0
5                     0                        0.0                       0.0
6                     0                        0.0                       0.0
7                     0                        0.0                       0.0
8                     0                        0.0                       0.0
9                     0                        NaN                       NaN
10                    0                        0.0                       0.0
11                    0                        0.0                       0.0
12                    0                        0.0                       0.0
13                    0                        0.0                       0.0
14                    0                        NaN                       NaN
15                    0                        0.0                       0.0
16                    0                        0.0                       0.0
17                    0                        NaN                       NaN
18                    0                        0.0                       0.0
19                    0                        0.0                       0.0
20                    0                        NaN                       NaN
21                    0                        0.0                       0.0
22                    0                        0.0                       0.0
23                    0                        0.0                       0.0
24                    0                        0.0                       0.0
25                    0                        0.0                       0.0
26                    0                        0.0                       0.0
27                    0                        0.0                       0.0
28                    0                        0.0                       0.0
29                    0                        NaN                       NaN
...                 ...                        ...                       ...
307481                0                        0.0                       0.0
307482                0                        0.0                       0.0
307483                0                        0.0                       0.0
307484                0                        NaN                       NaN
307485                0                        0.0                       0.0
307486                0                        0.0                       0.0
307487                0                        0.0                       0.0
307488                0                        0.0                       0.0
307489                0                        0.0                       0.0
307490                0                        0.0                       0.0
307491                0                        0.0                       0.0
307492                0                        0.0                       0.0
307493                0                        0.0                       0.0
307494                0                        0.0                       0.0
307495                0                        0.0                       0.0
307496                0                        0.0                       0.0
307497                0                        0.0                       0.0
307498                0                        0.0                       0.0
307499                0                        0.0                       0.0
307500                0                        0.0                       0.0
307501                0                        NaN                       NaN
307502                0                        0.0                       0.0
307503                0                        0.0                       0.0
307504                0                        NaN                       NaN
307505                0                        0.0                       0.0
307506                0                        NaN                       NaN
307507                0                        NaN                       NaN
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
1                              0.0                        0.0
2                              0.0                        0.0
3                              NaN                        NaN
4                              0.0                        0.0
5                              0.0                        0.0
6                              0.0                        1.0
7                              0.0                        0.0
8                              0.0                        0.0
9                              NaN                        NaN
10                             0.0                        1.0
11                             0.0                        0.0
12                             0.0                        1.0
13                             0.0                        0.0
14                             NaN                        NaN
15                             0.0                        0.0
16                             0.0                        0.0
17                             NaN                        NaN
18                             0.0                        0.0
19                             0.0                        0.0
20                             NaN                        NaN
21                             0.0                        0.0
22                             0.0                        0.0
23                             0.0                        0.0
24                             0.0                        0.0
25                             0.0                        0.0
26                             0.0                        0.0
27                             0.0                        0.0

In [34]:
app_train.shape

(307511, 122)

In [36]:
app_train.sort_values("NAME_CONTRACT_TYPE",ascending=True)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199750,331567,0,Cash loans,M,Y,N,1,225000.0,584766.0,28129.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199752,331569,0,Cash loans,F,N,Y,0,139500.0,450000.0,17095.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199753,331570,0,Cash loans,F,N,N,0,130500.0,900000.0,32017.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
199754,331571,0,Cash loans,F,N,Y,1,157500.0,549882.0,17869.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199755,331572,0,Cash loans,F,N,N,1,112500.0,265851.0,10255.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199756,331573,0,Cash loans,M,Y,Y,0,202500.0,1800000.0,49630.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
199757,331574,0,Cash loans,F,N,Y,0,157500.0,682875.0,24655.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
199758,331575,0,Cash loans,F,N,Y,0,72000.0,975771.0,28660.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
199759,331576,0,Cash loans,F,N,Y,1,180000.0,325282.5,17775.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199760,331577,0,Cash loans,M,Y,Y,0,135000.0,267102.0,20799.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199761,331578,0,Cash loans,M,Y,Y,0,135000.0,808650.0,29839.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
199762,331580,0,Cash loans,M,Y,Y,1,180000.0,1350000.0,39604.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199763,331581,0,Cash loans,M,N,N,0,135000.0,168102.0,13410.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
199764,331582,0,Cash loans,M,N,N,0,112500.0,254700.0,16582.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
199765,331583,0,Cash loans,F,N,Y,1,241650.0,1078200.0,31653.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199766,331584,0,Cash loans,F,N,Y,1,90000.0,555273.0,18040.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
199767,331585,0,Cash loans,M,Y,Y,0,202500.0,900000.0,34281.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199782,331602,1,Cash loans,M,N,N,1,135000.0,225000.0,26703.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
199781,331601,1,Cash loans,F,N,N,1,72000.0,232344.0,11992.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,7.0
199780,331600,0,Cash loans,F,N,Y,1,135000.0,957033.0,53437.5,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,4.0
199778,331597,0,Cash loans,F,Y,Y,1,112500.0,276277.5,23841.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
199777,331596,0,Cash loans,F,N,Y,2,112500.0,117162.0,12132.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,8.0
199776,331595,0,Cash loans,F,N,Y,0,157500.0,1012653.0,43033.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199749,331566,0,Cash loans,M,N,N,0,126000.0,808650.0,26217.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
199775,331594,0,Cash loans,F,N,Y,0,202500.0,454500.0,27063.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
199773,331592,0,Cash loans,F,N,Y,1,180000.0,765000.0,25411.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,6.0
199772,331591,0,Cash loans,M,N,Y,1,247500.0,625536.0,22599.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
199771,331589,0,Cash loans,F,N,N,0,135000.0,742500.0,22509.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
199770,331588,0,Cash loans,F,N,N,0,225000.0,1325475.0,56160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123790,243557,0,Revolving loans,M,N,Y,0,225000.0,1350000.0,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
238875,376707,0,Revolving loans,F,N,Y,0,90000.0,202500.0,10125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
277364,421401,1,Revolving loans,M,N,Y,0,157500.0,360000.0,18000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,14.0
202201,334396,1,Revolving loans,M,Y,N,0,157500.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
95159,210485,0,Revolving loans,M,Y,Y,2,1350000.0,900000.0,45000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
62025,171935,0,Revolving loans,F,N,Y,2,123750.0,382500.0,19125.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
238856,376688,0,Revolving loans,F,N,Y,1,112500.0,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
170687,297816,0,Revolving loans,M,Y,N,0,180000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
95152,210476,0,Revolving loans,F,Y,Y,1,135000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
202199,334394,0,Revolving loans,F,N,Y,0,99000.0,202500.0,10125.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
170712,297844,0,Revolving loans,F,N,Y,0,180000.0,360000.0,18000.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
170714,297846,1,Revolving loans,F,N,Y,0,112500.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
62007,171911,0,Revolving loans,F,N,Y,1,360000.0,427500.0,21375.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
61980,171882,0,Revolving loans,F,N,Y,0,180000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
277311,421336,0,Revolving loans,F,Y,Y,1,135000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
202167,334355,0,Revolving loans,F,N,Y,0,45000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
27274,131697,1,Revolving loans,F,N,Y,0,202500.0,630000.0,31500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
123753,243515,0,Revolving loans,F,N,Y,0,180000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
123756,243519,0,Revolving loans,F,N,N,0,112500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
277320,421346,0,Revolving loans,F,Y,Y,0,135000.0,157500.0,7875.0,...,0,0,0,0,0.0,0.0,1.0,0.0,2.0,5.0
170738,297873,0,Revolving loans,F,Y,Y,0,180000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
27264,131684,0,Revolving loans,F,N,Y,0,270000.0,720000.0,36000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
277329,421358,1,Revolving loans,F,N,Y,0,76500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
277330,421359,0,Revolving loans,M,N,Y,1,162000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
238891,376723,0,Revolving loans,F,Y,N,1,202500.0,585000.0,29250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
61997,171901,0,Revolving loans,F,N,Y,0,76500.0,337500.0,16875.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
202179,334368,0,Revolving loans,M,N,Y,0,76500.0,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
170725,297858,0,Revolving loans,M,N,Y,0,135000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,2.0
27283,131706,0,Revolving loans,M,Y,Y,0,270000.0,810000.0,40500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
218731,353408,0,Revolving loans,F,N,Y,1,135000.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0